.footer-container {
	background-color: $primary_color;
}

.foll-footer {
	> div {
		color: $mid_grey;
		font-size: $small_font_size;
		padding: 2em 0;

		a {
			color: $off_white;

		}

		@include breakpoint(tablet) {

			&:nth-child(2) {
				text-align: center;
			}
			&:nth-child(3) {
				text-align: right;
			}
		}
	}	
}


// .footer-widgets {
// 	font-size: $small_font_size;
// 	padding: 2em 0;
// }