body:before {
  content: "smartphone";
  display: none; /* Prevent from displaying. */
}

@media only screen and (min-width: $tablet_portrait) {
  body:before {
    content: "tablet-portrait";
  }  
}

@media only screen and (min-width: $tablet) {
  body:before {
    content: "tablet";
  }  
}
@media only screen and (min-width: $tab_between) {
  body:before {
    content: "tablet-between";
  }  
}
@media only screen and (min-width: $tablet_landscape) {
  body:before {
    content: "tablet-landscape";
  }
}
@media only screen and (min-width: $medium-screen) {
  body:before {
    content: "desktop-medium";
  }
}
@media only screen and (min-width: $large-screen) {
  body:before {
    content: "desktop-large";
  }
}