* {
  box-sizing: border-box;
}

/* Optional min width */
html {
  min-width: 20rem;
}


img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}


body {
	background-color: $background_color;
	background-image: url("../img/test-6.png");
	// background-size: 100%;
    background-repeat: no-repeat;
    background-position: center 20px;
    
  }

.foll-content {
	background-color: $background_color;
	// background-color: rgba(227,232,235,.6);
}




// /* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}




.foll-hr {
	height: 0;
	padding:0;
	margin: 0 0 1rem 0;
	border: 2px solid $accent_color_1;
	width: 150px;
}


