.site-header {
	position: relative;
}

.bittern {
	display: none;
	float: left;
	width: 25px;
	margin-top: 5px;
	@include breakpoint(netbook) {
		width: 28px;
	}
}
.logo {
	display: block;
	padding: 0;
	margin:.5rem;
	@include breakpoint(netbook) {
		margin: 0;
	}
}
.site-title {
	text-indent: -9999999px;
	width: 0;
	height: 0;
	float: left;
}



.site-branding {
	width: 100%;

	@include breakpoint(netbook) {
		float: left;
		width: 40%;
		padding:1.3rem 0;
	}

	@include breakpoint(tablet-between) {
		float: left;
		width: 30%;
	}		
}

.desktop-nav-wrap {
    display: none;
	
    @include breakpoint(tablet-between) {   
    	display: block;
    	float: right;    
        width: 60%;
    }

	@include breakpoint(netbook) {
		float: right;
		width: 70%;
	}    
}


/* typographic - header specific */
.site-header {
	a:visited {
		color: $primary_color_dark;
	}
}


