/* -----------------------------------------
   Navigation Styles
----------------------------------------- */
.desktop-nav-wrap {
    display: none;

    @include breakpoint(tablet-portrait) {
        display: block;
        width: 100%;
    }

    @include breakpoint(tablet-between) {
        float: left;
        width: 60%;
    }
}
    
.desktop-nav {
    padding: 0 ; 
    margin: 0;
    @extend .group;
    float: right;

    @include breakpoint(tablet-portrait) {
        float: none;
    }

    > li {
        position: relative;
        // float: left;
        display: inline-block;

        a {                
                text-decoration: none;
                display: inline-block;
                padding: 1rem 1.3rem;

            &:hover {
                color: $primary_color;
            }
        }

        &.with-ul {
            // padding-right: 10px;

        }

        &.active {
            > a {
                color: $primary_color;
            }
        }
    }

    ul {
        float: left;
        position: absolute;
        display: none;
        z-index: 99999;  
        margin: 0;
        padding:0;
        width: 100%;
        li {
            float: none;
            text-align: left;

            a {
                display: block;
                width: 100%;
                padding: .3rem 1rem;
            }
        }
    }

    li:hover > ul {
        display: block;
        left:0;
    }

    ul li:hover > ul {
        left: 100%;
    }   

}




