.rcp_form {
	input[type="text"], input[type="email"], textarea {
		min-width: 300px;
	}
	input {
		background-color: #fff;
	}
	legend {
		padding-top: 2rem;
	}
}

// Registration 
.interests {
	margin-bottom: 1rem;
	div {
		margin-left: 1rem;
	}
}

.giftaid {
	h3 {
		display: block;
	}
}

.giftaid-dec {
	padding-bottom: 1rem;
	display: inline-block;
}

.declaration {
	color: $dark_grey;
	font-style: italic;
}