// font-size
$body_font_size : 1rem;	// 16px
$body_font_size_sm: 1rem;

$small_font_size: 14px;

// line height
$body_line_height : 1.5em;
$heading_line_height: 1.313em;


// layout
$max-width: 75rem; // 1200px 
$max-width-medium: 60rem; // 960px
$max-width-small: 50rem; // 800px

// spacing
$pad: 1.25rem;
$margin-bottom: 0.5rem;



// screen sizes
$mobile: 25rem; // 400px
$tablet_portrait: 46rem; // 736px
$tablet: 48.75rem;	//	780px;
$tab_between: 56.25rem; // 900px
$tablet_landscape: 64rem; // 1024px
$netbook: 67.5rem; // 1080px
$small-screen: 75rem; // 1200px
$medium-screen: 80rem;	//	1280px;
$large-screen: 90rem;	//	1440px;






// colors

$primary_color_dark: #37474F;
$primary_color: #607D8B; // blue grey
// $primary_color: #33691E; // blue grey


// $accent_color_1 :  #00BCD4;
// $accent_color_2 : #95368c; 
// $accent_color_3 :  #8D6C4A; 

// $accent_color_4 :  #71A306; 
// $accent_color_5 :  #8B5435; 


$accent_color_1 :  #33691E;
$accent_color_2 : #8B5435; 
$accent_color_3 : #F57C00;



// $background_color : #e5e5e5; // off white
$background_color : #F2F8FA;
$body_color	:#2a2a2a;

// page specific
$background_color_home: #E6EBED;




$white: #fff;
$off_white: #fafafa;
$light_grey: #fafafa;
$mid_grey: #f5f5f5;
$grey: #e0e0e0;
$dark_grey: #999;
$very_dark_grey: #444;

$modal-overlay-color: rgba(0, 0, 0, 0.8);


$body_font :
'Roboto',
'Helvetica Neue', 
 Helvetica, 
 'Source Sans Pro', 
 sans-serif;

$heading_font : 
'Roboto Slab',
'Helvetica Neue',
Helvetica,
Arial,
sans-serif;


$body_font_weight: 200;

$heading_font_weight: 300;



// headings
$h1-size:           1.8em; // .alpha
$h2-size:           1.5em; // .beta
$h3-size:           1.3em; // .gamma
$h4-size:           1em; // .delta
$h5-size:           1em; // .epsilon
$h6-size:           1em; // .zeta


// links
$link_color: $body_color;
$link_hover_color: $body_color;



$milli-size:        0.75rem;
$micro-size:        0.625rem;


// various
$button_radius : 3px;




// app sprite background positions
$triangle_down : -32px -32px;
$triangle-up : 0 -32px;
$cross : -32px -64px;




