.home {
	background-color: $background_color_home;
}

.home-panels {
	margin-top: 3rem;	
}

.h-panel {
	position: relative;
	float: left;
	max-width: 400px;
	border-top: 4px solid $light_shade_primary;	

	@include breakpoint(tablet-portrait) {		
		@include defineCols(2, 7%);		
	}
	@include breakpoint(tablet-landscape) {		
		@include defineCols(3, 7%);		
	}

	h2 {
		// text-transform: capitalize;
		margin: 1em 0;

		a {
			text-decoration: none;
			color: $primary_color;	
			transition: all .2s ease;
			// &:hover {
			// 	text-decoration: underline;
			// }
		}
	}


		


	&:nth-child(1) {

		&:hover {
			h2 a {
				color: $accent_color_1; 
			}				
		}

		&:hover:before {
			background: $accent_color_1;
		}
	}

	&:nth-child(2) {

		&:hover {
			h2 a {
				color: $accent_color_3; 
			}					
		}
			
		&:hover:before {
			background: $accent_color_3;
		}
	}

	&:nth-child(3) {

		&:hover {
			h2 a {
				color: $accent_color_2; 
			}					
		}
			
		&:hover:before {
			background: $accent_color_2;
		}
	}



	// border color animation
	&:before {
		content: '';
		display: block;
		margin: auto;
		margin-top: -4px;
		height: 4px;
		width: 0px;
		background: transparent;
		transition: width .5s ease, background-color .5s ease;
	}

	&:hover:before {
		width: 100%;
		// background: blue;
	}	

}


.h-panel-img-wrap {
	position: relative;

	img {
		display: block;
	}

}

.h-panel-overlay {
	opacity: 0;
	transition: opacity .5s ease-in-out;
	&:hover {
		opacity: 1;
	}	
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,.3);
	.centered {
		border-radius: $button_radius;
		border: 1px solid #FFF;
		padding: .5em 1em;
		h4 {
			margin: 0;
			color: #FFF;
		}

	}
}










