.sub-menu-bar {
	font-size: $small_font_size;
	// border-top: 2px solid $primary_color_dark;
	background-color: $primary_color;	
	background-color: rgba(96,125,139,.8);
	padding: .5rem 0;
}

.sub-menu-nav {
	display: none;

	@include breakpoint(tablet-between) {
		display: block;
		float: right;
		margin: 0 0 0 4rem;
		padding:0;
	}

	> a {
		text-transform: uppercase;
		color: $off_white;
		text-decoration: none;
		&:after {
			content: " >";
		}		
	}
	
	li {
		// font-size: 15px;
		// padding: .5em 0;
		padding: 3px 0px;
		margin: 0;	

		&:last-of-type {
			margin-right: 0;
			> a {
				border-right: none;
			}
		}


		&.current_page_item {
			> a {
				color: $off_white;
				opacity: 1;
			}			
		}		
		&.current_page_parent {
			> a {
				color: $off_white;
				opacity: 1;
			}			
		}


		> a {
			color: $off_white;
			opacity: .6;
			// text-shadow: 0 -1px 0 rgba(0,0,0,.25);
			line-height: 1em;
			padding: 0 1em;
			margin: 0;
			border-right: 2px solid $off_white;	
			&:hover {
				text-decoration: underline;
				color: $off_white;
				opacity: 1;
			}
		}

	}
}


.sub-menu-bar-donate {
	.foll-btn {
		float: right;
		margin-left: 4rem;
	}
}

.sub-menu-bar-join {
	.foll-btn {
		float: left;
		@include breakpoint(tablet-portrait) {
			margin-right: 4rem;
		}		
	}
}



