.donate-row {
		
	background-color: #fff;
	// border-top: 2px solid $mid_grey;
	h2 {
		color: $accent_color_2;
	}

	.foll-btn {
		padding: .75rem 2rem;
	}
}

.donate-row-inner {
	padding: 2rem 0;
	margin: 0 auto;
	text-align: center;
	@include breakpoint(tablet)	{
		width: 50%;
	}
}

.bittern-sm {
	display: inline-block;
	max-width: 180px;
}

.last-widget {
	padding-bottom: 1rem;
}