.foll-slider {
	margin-top: 15px;
	padding: 4px ;
  	background-color: $light_shade_primary;
  	opacity: 0;
  	transition: all 0.3s ease-out;
  	&.loaded {
  		opacity: 1;
  	}
}

.bxslider-home {
	margin: 0;	
	padding:0;
}

.slide {
	margin:0;
	list-style: none;
}

.inner_slide {
	
	padding: 1rem;

	@include breakpoint(tablet) {

		h2 {
			margin: 0 0 1rem 0;

		}

		position: absolute;
		bottom: 1rem;
		left: 3rem;
		padding: 1rem;
		background-color: rgba(255,255,255,.5);
	}
}


// soliloquy slider overrides
.entry-content {

	.soliloquy-container .soliloquy-pager-link {
		background:url("../img/circle.png") 
	}
	.soliloquy-container .soliloquy-pager-link:hover,.soliloquy-container .soliloquy-pager-link.active {
		background-image:url("../img/circle-hover.png")
	}

	.soliloquy-container {
		max-height: none !important;
		.soliloquy-pager {
			// bottom: -25px;
			// padding: 10px 10px 35px !important;
			 position: relative !important;
			 bottom: -10px !important;
		}

		.soliloquy-caption-inside {
			text-align: left;
		}	    
	}

	.soliloquy-viewport { height: auto !important; }

	.soliloquy-container .soliloquy-caption { 
		position: relative !important; 
		background-color: rgba(0,0,0,0.7);
	}
		
}



// varying height slider
// #soliloquy-container-1655 { 
// 	.soliloquy-wrapper {
// 		min-height: 600px; 
// 	}
// }



